<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>01</title>
    <!-- build:css /css/styles.min.css -->
    <link rel="stylesheet" href="../components/cool-widget/cool-widget.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/apple.css">
    <!-- endbuild -->
  </head>
  <body>
    <div>
        <h1>01</h1>
        <p>
          This is page 01.
        </p>
    </div>
    
    <section>
      <ul>
        <li class="zebra"><a href="../views/01.html">Page 1</a></li>
        <li class="zebra"><a href="../views/02.html">Page 2</a></li>
        <li class="zebra"><a href="../views/03.html" class="apple">Page 3</a></li>
      </ul>
    </section>
    <!-- build:js /js/scripts.min.js -->
    <script src="../components/cool-widget/cool-widget.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/script.js"></script>
    <!-- endbuild  -->
  </body>
</html>
